* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Top Menu */

.top-menu {
  position: relative;
}

.top-menu:after {
  position: absolute;
  content: "" !important;
  height: 5px !important;
  right: 0;
  left: 0;
  bottom: 0;
  visibility: visible !important;
}

.brand {
  display: block !important;
  padding-left: 0 !important;
}
.git-front {
  font-weight: 700;
  font-size: 140%;
}
.brand-description {
  font-size: 90%;
  color: #bdbdbd;
}
.schkn {
  margin: 0 5px;
}
/* Main Grid */
.main-grid {
  background: #f5f6fa;
}
/* Statistics  */
.statistic > .label,
.statistic > .value {
  font-family: "Roboto", sans-serif !important;
}
.statistic > .value > .icon,
.statistic > .label {
  padding: 3px !important;
}
/* Icons and backgrounds */
i.icon.star {
  color: #fbbd08;
}
i.icon.heart {
  color: #de0a2f;
  margin-left: 5px !important;
}
.white-text {
  color: #fff !important;
  font-size: 95% !important;
}
.trophy-1 {
  color: #fbbd08;
}
.trophy-2 {
  color: #c0c0c0;
}

.trophy-3 {
  color: #cd7f32;
}

.trophy-4 {
  color: #fff;
}

/* Results */
.results-segment {
  min-height: 600px;
}
.repo-image {
  margin-right: 20px !important;
}
/* Framework Info */
.framework-icon {
  margin-bottom: 25px !important;
}
.framework-image {
  margin-bottom: 20px !important;
}
.framework-info,
.ecosystem-item {
  cursor: pointer;
}

.ecosystem-segment {
  min-height: 75px;
}

/* Contenders */
.contender-label {
  background-color: #e8e8e8 !important;
}
/* Specific */

/* Theme */

.front-menu:after {
  background: linear-gradient(
    to right,
    #3fb787 25%,
    #60dbfa 25%,
    #60dbfa 50%,
    #de0a2f 50%,
    #de0a2f 75%,
    #ea5327 75%
  );
}

.devops-menu:after {
  background: linear-gradient(
    to right,
    #24b8eb 25%,
    #326de6 25%,
    #326de6 50%,
    black 50%,
    black 75%,
    #335061 75%
  );
}

.ml-menu:after {
  background: linear-gradient(
    to right,
    #e4ba51 25%,
    #3398cc 25%,
    #3398cc 50%,
    #c30000 50%,
    #c30000 75%,
    #f05732 75%
  );
}

/* Front */
.react-label {
  background-color: #60dbfa !important;
}

.angular-label {
  background-color: #de0a2f !important;
}
.vuejs-label {
  background-color: #3fb787 !important;
}

.ember-label {
  background-color: #ea5327 !important;
}

.repo-item-vuejs {
  border-left: 5px solid #3fb787 !important;
}

.repo-item-react {
  border-left: 5px solid #60dbfa !important;
}

.repo-item-angular {
  border-left: 5px solid #de0a2f !important;
}

.repo-item-ember {
  border-left: 5px solid #ea5327 !important;
}

/* Dev Ops */
.docker-label {
  background-color: #24b8eb !important;
}
.kubernetes-label {
  background-color: #326de6 !important;
}
.ansible-label {
  background-color: black !important;
}

.jenkins-label {
  background-color: #335061 !important;
}

.repo-item-docker {
  border-left: 5px solid #24b8eb !important;
}

.repo-item-kubernetes {
  border-left: 5px solid #326de6 !important;
}

.repo-item-ansible {
  border-left: 5px solid black !important;
}

.repo-item-jenkins {
  border-left: 5px solid #335061 !important;
}

/* Machine Learning */

.tensorflow-label {
  background-color: #e4ba51 !important;
}
.scikit-learn-label {
  background-color: #3398cc !important;
}
.caffe-label {
  background-color: #c30000 !important;
}

.pytorch-label {
  background-color: #f05732 !important;
}

.repo-item-tensorflow {
  border-left: 5px solid #e4ba51 !important;
}

.repo-item-scikit-learn {
  border-left: 5px solid #3398cc !important;
}

.repo-item-caffe {
  border-left: 5px solid #c30000 !important;
}

.repo-item-pytorch {
  border-left: 5px solid #f05732 !important;
}
